[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak 
  display: none !important;

body, html 
	margin: 0
	*
		font-family: serif
li
	list-style-type: none


//  content align
.slides 
	max-height: 100%
	width: 100% !important;
	left: 0 !important
	bottom: 0 !important
	right: 0 !important
	top: 0 !important
	transform: none !important
	padding: 0 !important
	margin: 0 !important
	> section
		height: 80% !important
		margin-top: 5% !important
	section
		height: 100%;
		max-height: 100%
	section section
		top: 0 !important
		padding: 0 !important;
		margin: 0 !important;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex !important;
		align-items: center;
		justify-content: center;
		overflow: auto
	section section > *
		max-height: 100%

.fixed-top
	padding: 0
	margin: 0
	position: fixed
	padding: 10px
	z-index: 100
	left: 50%;
	top: 0px
	margin-left: -400px;
	@media (max-width: 1000px)
		left: 0%;
		margin-left: 0

	li.logo
		color: orange
		border: none
		background: none
		width: 100px !important

li.logo img
	width: 100px !important
	margin-top: 10px
	margin-left: 30px
	position: fixed

.fixed-bottom
	padding: 0
	margin: 0
	position: fixed
	padding: 10px
	z-index: 100
	bottom: 0
	left: 50%;
	margin-left: -200px;
	@media (max-width: 1000px)
		left: 0%;
		margin-left: 0
	li
		padding: 5px 5px !important
	img
		margin-left: 5px !important
		padding: 0 !important

.fixed-buy
	padding: 0
	margin: 0
	position: fixed
	padding: 10px
	z-index: 100
	bottom: 50px
	right: 10px
	div
		background: orange
		padding: 20px 15px
		border-radius: 100px
		cursor: pointer
		color: white
.fixed-buy.shoping
	bottom: 50px
	right: 75px
	div
		padding: 0 !important
	img
		width: 30px
		padding: 11px 12px


.fixed-top, .fixed-bottom
	li
		color: white
		vertical-align: middle
		display: inline-block
		background: #444
		padding: 5px 10px
		margin: 0 5px
		cursor: pointer
		text-decoration: none;
		font-size: 20px
		margin-top: 5px
		transition: 0.5s
		-webkiti-transition: 0.5s
		@media (max-width: 980px)
			font-size: 18px
		@media (max-width: 1200px)
			font-size: 18px
		@media (max-width: 600px)
			font-size: 15px
			margin: 0 2px
	li.active 
		background: orange
		transform: scale(1.1)
		-webkit-transform: scale(1.1)
	li.active img 
		visibility: hidden
	li.active span img
		visibility: visible
	li span img
		float: left !important
	img
		float: right
		padding: 2px 10px
		@media (max-width: 980px)
			width: 10px
			padding-top: 5px
	.toLeft
		transform: rotate(180deg)
		-webkit-transform: rotate(180deg)
	.hide
		visibility: hidde
.fixed-top img
	width: 20px
	height: 15px
.fixed-bottom img
	width: 15px
	height: 20px
.stack > section
	transform: scale(0.75) 
	-webkit-transform: scale(0.75) 
	transition: 2.5s !important
	-webkit-transition: 2.5s !important
.present > .present 
	-webkit-transform: scale(1)  
	transform: scale(1)  

.present > .present .present
	-webkit-transform: scale(1) !important
	transform: scale(1) !important

.stack > section.future  , .stack > section.past 
	transform: scale(0.75) 
	-webkit-transform: scale(0.75) 



//  burger menu

.burger 
	display: none !important
	height: 30px
	.logo-burger
		float: left
		width: 80px
		position: relative
		top: -25px
		height: 27px;
@media (max-width: 600px)

	.logo img
		display: none !important
	.fixed-top
		width: 100%
		li
			display: none
			width: 91%
	.fixed-top.active
		li 
			display: block !important
			z-index: 100
			margin-top: 10px
			height: 23px
	.fixed-top li:nth-child(2)
		margin-top: 30px
	.burger
		display: block !important
		width: 15px !important
		background: none !important
		outline: none !important
		margin-bottom: 10px;
		position: absolute
		top: 0px
		left: 2px
		img
			position: relative
			left: 12px


// loading 
.loading
	z-index: 1000
	display: block
	position: absolute
	top: 30%
	left: 44%
	padding: 10px
	img
		width: 200px